html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.container {
  width: 900px;
  margin: 0 auto;
}

/*      HEADER       */
.page_header__nav {
  margin: 70px auto;
}
.page_header__nav_list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.page_header__nav_item {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}

.page_header__nav_item a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #626262;
}

.page_header__nav_item a:hover,
.page_header__nav_item a:focus {
  color: #03a9f4;
}

.page_header__nav_item:nth-child(1) {
  margin-right: 120px;
}

.page_header__nav_item:nth-child(2) {
  margin-right: 104px;
}

.page_header__nav_item:nth-child(3) {
  margin-right: 96px;
}

/*      MAIN        */
.page_main_section {
  font-size: 0;
}

.section__article_item {
  display: inline-block;
  width: 420px;
  font-size: 14px;
  margin-bottom: 130px;
  vertical-align: top;
}

.section__article_item:nth-child(n + 5) {
  margin-bottom: 54px;
}

.section__article_item:nth-child(2n) {
  margin-left: 60px;
}

.section__article_item img {
  margin-bottom: 32px;
}

.section__article_name {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  line-height: 16px;
  color: #b4ad9e;
  text-transform: uppercase;
  margin: 0 0 32px 0;
}

.section__article_title {
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 44px 0;
}

.section__article_about {
  margin: 0;
}

/*      BUTTON       */
.button_load_more {
  display: block;
  margin: 0 auto;
  border: 1px solid rgb(98, 98, 98);
  padding: 24px 34px;
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  cursor: pointer;
  background-color: inherit;
}
