/* * {
  outline: 1px solid red;
} */

body {
  font-family: "Playfair Display", serif;
  color: rgb(98, 98, 98);
  font-size: 14px;
  line-height: 24px;
  width: 900px;
  margin: auto;
}

.header__nav_list {
  list-style: none;

  padding: 70px 0 100px 165px;
  margin: auto;
}

.header__nav_item {
  text-transform: uppercase;
  line-height: 24px;

  display: inline-block;
}

.header__nav a {
  text-decoration: none;
  color: rgb(98, 98, 98);
  display: block;
}

.header__nav_item a:hover {
  color: #03a9f4;
}

.header__nav_list li:nth-child(1) {
  margin-right: 120px;
}
.header__nav_list li:nth-child(2) {
  margin-right: 105px;
}
.header__nav_list li:nth-child(3) {
  margin-right: 95px;
}

.section__article {
  display: inline-block;
  width: 420px;
  vertical-align: top;
  margin-bottom: 135px;
}

.section__article_name {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #b4ad9e;
  line-height: 17px;
  text-transform: uppercase;
}

.section__article_heading {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
.section__article img {
  margin-bottom: 30px;
}
.section__article .section__article_name {
  margin-bottom: 28px;
}
.section__article .section__article_heading {
  margin-bottom: 39px;
}

.section__article:nth-child(odd) {
  margin-right: 56px;
}
.section__button {
  font-size: 20px;
  color: #626262;
  display: block;
  widows: 165px;
  height: 60px;
  margin: auto;
}
